li {
    float: left;
    
}

li a:hover {
    background-color: black;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    position: fixed;
}

li a {
    display: block;
    text-align: center;
    padding: 15px 15px;
    font-size: xx-large;
    color: white
}

.one {
    border: solid black;
    margin: 0%;
    padding: 0;

}

.two {
    border: solid black;
    margin: 0%;
    padding: 0%;
    display: flex;
    font-size: x-large;
    background-color: black;
}


.three {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: rgb(206, 166, 113);
    width: 100px;
    text-align: center;
    padding-left: 20%;
}



